In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [3]:
# Issue: Math should be lowercase as math.
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [10]:
# x is modified as local variable inside the function without being declared as global
def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

15

In [ ]:
#3.
x = 5
if x = 10:
    print("x is 10")

In [13]:
# = is an assignment operator; == is needed for comparison.
x = 5
if x == 10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [17]:
# .sort() modifies the list in place and returns None, so we need to sort first and then print the numbers
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [19]:
# The function does not return a value explicitly.
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [23]:
# Tuples are immutable and cannot be modified.
my_tuple = (5, 4, 6)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [25]:
# The format placeholders are missing a required argument.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [28]:
# is checks for object identity, not value equality.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [31]:
# The range(5, 1) does not produce any numbers because the default step is +1.
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [37]:
# The key should be a string, but name is not defined as a variable.
student = {"name": "John", "age": 20}
print(student["name"])

John